# JetBrains / IDE
*.iml
.idea/

# Jekyll generated site
_site/

# Jekyll caches
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby / Bundler local files
.ruby-version
vendor/
.bundle/

# macOS
.DS_Store

# Optional local/dev files
node_modules/
